@model OldHouse.Web.Models.UserDisplayDto


    
        <a href="#">
            <div class="text-center">
                <img class="avatar-img user-brief-avatar " src="/Content/Images/avatar/@Model.Avatar"/><br/>
                @Model.NickName
            </div>
        </a>
   
